@charset "UTF-8";

body{
visibility: hidden;
background-color: rgb(74, 120, 206);
font: normal 15pt Roboto;

}

header{
color: white;
text-align: center;
}

section{
background-color: rgb(43, 72, 167);
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 2px 2px 5px rgb(55, 72, 128);
color: white;
}

div {
    padding: 10px;
    background-color: rgb(74, 97, 173);
}

img {
    margin: auto;
    padding: 10px;
}

footer{
color: white;
text-align: center;
}

button{
    background-color: rgb(74, 97, 173);
    color: white;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
}

p{
    background-color: rgb(55, 72, 128);
    padding: 10px;
    border-radius: 8px;
}